<%- include('../partials/header2.ejs') %>
<!-- MENU SECTION END-->
    <div class="content-wrapper">
         <div class="container">
        <div class="row pad-botm">
            <div class="col-md-12">
                <h4 class="header-line">Add Author</h4>
            </div>
        </div>
<div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3"">
     <div class="panel panel-info">
                <div class="panel-heading">
                Author Info
                </div>

            <div class="panel-body">
                <form action="/admin/editauthor/<%=results[0].id%>" method="POST">
                <div class="form-group">
                    <label>Author Name</label>
                    <input class="form-control" type="text" name="author" value="<%=results[0].AuthorName %>" required />
                </div>
                <button type="submit" name="update" class="btn btn-info">Update </button>
            </form>
            </div>
         </div>
    </div>
 </div>
   
    </div>
    </div>
     <%- include('../partials/footer2.ejs') %>
</body>
</html>