<section class="footer-section">
    <div class="container">
        <div class="row"> 
        </div>
    </div>
</section>
<script src="/js2/jquery-1.10.2.js"></script>

<!-- BOOTSTRAP SCRIPTS  -->
<script src="/js2/bootstrap.js"></script>
  <!-- CUSTOM SCRIPTS  -->

</body>
</html>